*{

}

body{
    background: rgba(0, 158, 250, 0.623);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);
    align-items: center;
    text-align: center;
}
section > p{
    text-align: center;
}

footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
}